# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
from numpy import mean
from numpy import std
from numpy import percentile

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")
engine

# Create Query for Dataset
query = """
        SELECT card_holder.id AS "id", transaction.date AS "date",  transaction.amount AS "amount"
        FROM transaction
        JOIN credit_card on credit_card.card = transaction.card
        JOIN card_holder on card_holder.id = credit_card.cardholder_id;
        """
# Create a DataFrame from the query result
df = pd.read_sql(query, engine)

# Show the data of the the new dataframe
df

      id                date  amount
0     13 2018-01-01 21:35:10    6.22
1     13 2018-01-01 21:43:12    3.83
2     10 2018-01-01 22:41:21    9.61
3      4 2018-01-01 23:13:30   19.03
4     18 2018-01-01 23:15:10    2.95
...   ..                 ...     ...
3495  15 2018-12-31 01:24:15    4.84
3496  10 2018-12-31 03:33:28    3.26
3497  19 2018-12-31 05:53:58   10.73
3498  23 2018-12-31 08:22:17   11.87
3499  15 2018-12-31 09:50:25   19.75

[3500 rows x 3 columns]

In [3]:
# Write function that locates outliers using standard deviation
def outliers_std(card_id):
    # get transaction amounts for card id 
    transaction_amounts_df = df.loc[df['id']==card_id, 'amount']
    return pd.DataFrame(transaction_amounts_df[transaction_amounts_df> transaction_amounts_df.mean()+3*transaction_amounts_df.std()])

In [4]:
# Find anomalous transactions for 3 random card holders
rand_card_id = np.random.randint(1,25,3)

for id in rand_card_id:
    if len(outliers_std(id)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has the following outlier transactions.:\n{outliers_std(id)}.")

Card holder 17 has no outlier transactions.
Card holder 1 has the following outlier transactions.:
      amount
235   1691.0
2079  1302.0
2374  1790.0
3191  1660.0
3263  1894.0.
Card holder 7 has the following outlier transactions.:
      amount
27    1685.0
484   1072.0
1079  1086.0
2142  1449.0
3327  2249.0
3379  1296.0.

## Identifying Outliers Using Interquartile Range

In [5]:
# Write a function that locates outliers using interquartile range
def outliers_iqr(card_id):
    # get transaction amounts for card id 
    transaction_amounts_df = df.loc[df['id']==card_id, 'amount']
    iqr_threshold = np.quantile(transaction_amounts_df, .75)+(np.quantile(transaction_amounts_df, .75)-np.quantile(transaction_amounts_df, .25))*1.5
    # return values above the iqr threshold 
    return pd.DataFrame(transaction_amounts_df[transaction_amounts_df> iqr_threshold])

In [6]:
# Find anomalous transactions for 3 random card holders
for id in rand_card_id:
    if len(outliers_iqr(id)) == 0:
        print(f"Card holder {id} has no outlier transactions.")
    else:
        print(f"Card holder {id} has the following outlier transactions:\n{outliers_iqr(id)}.")

Card holder 17 has no outlier transactions.
Card holder 1 has the following outlier transactions:
      amount
235   1691.0
979    283.0
2079  1302.0
2374  1790.0
2387  1017.0
2391  1056.0
2578  1060.0
2786   484.0
3183   267.0
3191  1660.0
3263  1894.0
3492  1033.0.
Card holder 7 has the following outlier transactions:
      amount
27    1685.0
379    445.0
484   1072.0
991    543.0
1079  1086.0
1366   160.0
1945   233.0
2142  1449.0
3327  2249.0
3379  1296.0.